@use "../sass-utils/mixin" as mixin;

.site-branding {
  padding: 20px 32px;

  @include mixin.xs {
    padding: 16px 20px;
  }
  @include mixin.sm {
    padding: 16px 20px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 16px;

  @include mixin.xs {
    padding-right: 20px !important;
  }
  @include mixin.sm {
    padding-right: 20px !important;
  }

  a {
    color: #333;
    padding: 0 16px;

    @include mixin.xs {
      font-size: 14px;
      line-height: 21px;
      padding: 0 !important;
    }
    @include mixin.sm {
      font-size: 14px;
      line-height: 21px;
      padding: 0 !important;
    }
  }

  li {
    @include mixin.xs {
      margin: 0 !important;
      &:first-child {
        margin-right: 24px !important;
      }
      &:last-child {
        display: none;
      }
    }
    @include mixin.sm {
      margin: 0 !important;
      &:first-child {
        margin-right: 24px !important;
      }
      &:last-child {
        display: none;
      }
    }
    @include mixin.md {
      margin: 0 !important;
      &:first-child {
        margin-right: 24px !important;
      }
      &:last-child {
        display: none;
      }
    }
  }
}

.last-menu-item {
  position: relative;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}

.last-menu-item::before {
  content: "お問い合わせは";
  display: flex;
  align-self: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.last-menu-item::after {
  content: "";
  background: url("../img/local_phone.svg");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -26px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-navigation li:nth-child(2) a {
  padding-right: 43px;
}

.main-navigation .last-menu-item a {
  padding-left: 3px;
}

.main-navigation {
  flex: 1 1 100%;
}

.main-navigation ul {
  align-items: center;
  justify-content: flex-end;
}

.main-navigation li {
  display: inline-flex;
}

.custom-logo-link {
  @include mixin.xs {
    width: 133px;
    height: 32px;
    background: url("../img/logo_header_mobile.svg");

    img {
      display: none;
    }
  }
  @include mixin.sm {
    width: 133px;
    height: 32px;
    background: url("../img/logo_header_mobile.svg");

    img {
      display: none;
    }
  }
}
